/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}


/* < !-- alisaad strat --> */
.contener {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.div__forst {
    max-width: 100%;
    max-height: 650px;
    border-bottom-left-radius: 150px;
    background: linear-gradient(90deg, #659365 20%, #073340 90% 100%);
    margin-top: -30px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(20% - 20px) 100%, 0 100%);
}

.div {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 30px;

}

.div__logo {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 50px;
}

.div__nav {
    display: flex;
}

.nav__ul {
    gap: 50px;
    display: flex;
    margin-right: 300px;
    color: #FFFFFF;
    margin-top: 50px;
}

.nav__ul--li {
    color: #FFFFFF;
    font-size: 22px;
}

.nav__ul--li:active {
    color: #B9F2A1;
}

.div__nav--btn {
    background-color: #B9F2A1;
    color: black;
    border-radius: 20px;
    padding: 15px;
    margin-top: 30px;
    margin-right: 50px;
}

.div__second {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div__second--one {
    width: 500px;
    height: 360px;
    margin-top: 130px;
    margin-right: 150px;

    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.one__div--texton {
    color: #FFFFFF;
    font-size: 50px;
}

.one__div--text {
    color: #B9F2A1;
}

.div__second--text {
    color: #E8E8E8;
    font-size: 20px;
    margin-top: 50px;
}

.second__one--btn {
    background-color: #B9F2A1;
    width: 187px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-top: 40px;
}

.second__one--btn--one {
    width: 187px;
    height: 50px;
    /* background-color: #073340; */
    border: #B9F2A1;
    border-radius: 10px;
    background: transparent;
    border: 1px solid black;
    margin-left: 20px;
    font-size: 20px;
}

.second__one--btn--one:active {
    background-color: #B9F2A1;
}
.end{
    width: 1500px;
    height: 400px;
}
.div__three {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.div__three--text {
    font-size: 50px;
}

.div__three--lorem {
    width: 550px;
    margin-top: 15px;
    color: #5D5A5A;
}
.div__four{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 150px;
}
/* < !-- alisaad end --> */


/* < !-- shoxruxbek star --> */
.Quti{
    width: 100%;
    height: 100vh;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    background-color: #B9F2A159;
}
.yozuvlar{
    width: 400px;
    height: 100px;
    font-size: 30px;
    font-family: "Rubik",sans-serif;
}
.matn{
    width: 400px;
    height: 100px;
    font-size: 20px;
    margin-top: 40px;
}
.kinopka{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    background-color: #B9F2A1;
    cursor: pointer;
    margin-top: 30px;
}

.rasm{
    width: 550px;
    height: 420px;
    margin-left: 150px;
    box-shadow: 0 0 15.9px ;
    display: block;
}
/* 
< !-- shoxruxbek end --> */


/* < !-- muslimbek start --> */

.services{
    width: 100%;
    height: 850px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.services--title{
    margin-top: 78px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}
.services--subtitle{
    margin-top: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(93, 90, 90, 1);
}
.services__cards{
    gap: 45px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    width: 1145px;
    height: 537px;
    margin-top: 91px;
}
.services__cards--card{
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 14px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.services__cards--card--title{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    font-style: Bold;
    margin-top: 20px;
}
.services__cards--card--subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(93, 90, 90, 1);
    margin-top: 10px;
}
.services__cards--card--btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: rgba(93, 90, 90, 1);
    border: none;
    background-color: transparent;
    margin-top: 76px;
}
.card2{
    border: 5px solid rgba(101, 147, 101, 1);
}
.card2--title{
    margin-top: 51px;
}
.card2--btn{
    color: rgba(101, 147, 101, 1);
}
.card3--title{
    margin-top: 40px;
}

/* < !-- muslimbek end --> */


/* < !-- otabek start --> */
.otabek{
    width: 100%;
    height: 1052px;
    background-color: #B9F2A159;
    margin-top: 100px;
    margin-bottom: 70px;
    padding-top: 50px;
}

.otabek__text{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.otabek__paragrf{
    text-align: center;
    width: 509px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 60px;
    color: #5D5A5A;
}
/* < !-- otabek start --> */ 
/* < !-- otabek end --> */

.otabek__box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.otabek__box1{
    width: 390px;
    height: 669px;
    background-color: white;
    border: 2px solid #659365;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.otabek__box1:hover{
    transform: scale(1.1);
    background: linear-gradient(180deg, #073340 50%, #659365);
    color: rgb(255, 255, 255);
}
/* < !-- azizbek end --> */



.otabek__box1--text{
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}

.otabek__box1--paragrf{
    text-align: center;
    font-size: 37px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
}

.otabek__box1--span{
    font-size: 20px;
    font-weight: 400;
}

.otabek__box1--li{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.otabek__box1--btn{
    padding: 20px 38px;
    background-color: #B9F2A1;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 170px;
}

.otabek__box1--btn1{
    padding: 20px 38px;
    background-color: #B9F2A1;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 110px;
}

.otabek__box1--btn2{
    padding: 20px 38px;
    background-color: #B9F2A1;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 80px;
}

.grid{
    margin-bottom: 70px;
}
.grid__text{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.grid__paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #5D5A5A;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 100px;
}


.grid__box{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: (6,1fr);
    grid-template-rows: (3, 1fr);
}
 

    /* < !-- alisaad strat --> */

    /* < !-- alisaad end --> */


    /* < !-- shoxruxbek star --> */
      

    /* < !-- shoxruxbek end --> */


    /* < !-- Muslimbek start --> */



    
@media (max-width : 900px){
    .services__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1024px) {
    
    .services--title {
        font-size: 36px;
        margin-top: 50px;
    }
    .services--subtitle {
        font-size: 16px;
        margin-top: 10px;
    }
    .services__cards {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 0;
    }
    .services__cards--card {
        padding: 25px;
        height: auto;
    }
    .services__cards--card--title {
        font-size: 20px;
        margin-top: 15px;
    }
    .services__cards--card--subtitle {
        font-size: 14px;
        margin-top: 8px;
    }
    .services__cards--card--btn {
        margin-top: 40px;
        font-size: 14px;
    }
}

/* === RESPONSIVE FOR MOBILE (429px) === */
@media (max-width: 429px) {
    .services {
        padding: 40px 15px;
    }
    .services--title {
        font-size: 28px;
        margin-top: 30px;
    }
    .services--subtitle {
        font-size: 14px;
        margin-top: 8px;
    }
    .services__cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .services__cards--card {
        padding: 20px;
    }
    .services__cards--card--title {
        font-size: 18px;
        margin-top: 12px;
    }
    .services__cards--card--subtitle {
        font-size: 12px;
        margin-top: 6px;
    }
    .services__cards--card--btn {
        margin-top: 30px;
        font-size: 12px;
    }
}


    /* < !-- muslimbek end --> */

.grid__box--img:first-child{
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid__box--img:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid__box--img:nth-child(3){
    grid-column: 3/5;
    grid-row: 1/3;
}

.grid__box--img:nth-child(4){
    grid-column: 5/6;
    grid-row: 1/2;
}

.grid__box--img:nth-child(5){
    grid-column: 6/7;
    grid-row: 1/2;
}

.grid__box--img:nth-child(6){
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid__box--img:nth-child(7){
    grid-column: 5/7;
    grid-row: 2/4;
}

.grid__box--img:nth-child(8){
    grid-column: 1/3;
    grid-row: 3/4;
}

.grid__box--img:nth-child(9){
    grid-column: 3/4;
    grid-row: 3/4;
}

.grid__box--img:nth-child(10){
    grid-column: 4/5;
    grid-row: 3/4;
}
/* < !-- otabek end --> */


/* < !-- azizbek start --> */

    /* < !-- otabek start --> */

    /* < !-- otabek end --> */

    /* < !-- azizbek start --> */

    /* < !-- azizbek end --> */




@media (max-width:400px) {
    /* < !-- alisaad strat --> */

    /* < !-- alisaad end --> */


    /* < !-- shoxruxbek star --> */

    /* < !-- shoxruxbek end --> */


    /* < !-- Muslimbek start --> */

    /* < !-- muslimbek end --> */


    /* < !-- otabek start --> */
    .otabek{
        max-width: 400px;
        height: 2390px;
    }

    .otabek__text{
        text-align: center;
        font-size: 24px;
    }

    .otabek__paragrf{
        width: 300px;
        font-size: 14px;
        text-align: center;
    }

    .otabek__box{
        flex-direction: column;
        padding: 5px 50px;
        align-items: center;
        justify-content: center;
    }

    .otabek__box1{
        width: 300px;
        margin-bottom: 40px;
    }

    .grid__text{
        text-align: center;
        font-size: 25px;
    }

    .grid__box{
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-template-rows: 5, 1fr;
        justify-content: center;
    }

    .grid__box--img:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid__box--img:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .grid__box--img:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .grid__box--img:nth-child(4){
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .grid__box--img{
        width: 360px;
        height: 360px;
    }

    .grid__box--img:nth-child(5){
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .grid__box--img:nth-child(6){
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .grid__box--img:nth-child(7){
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .grid__box--img:nth-child(8){
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .grid__box--img:nth-child(9){
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .grid__box--img:nth-child(10){
        grid-column: 1/2;
        grid-row: 5/6;
    }
    /* < !-- otabek end --> */

    /* < !-- azizbek start --> */

    /* < !-- azizbek end --> */ 

     .Quti{
        flex-direction: column;
        padding: 15px 50px;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        background-color: #B9F2A159;
    }
    h2{
        font-size: 28px;
        text-align: center;
    }
    .matn{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    .kinopka{
        margin-left: 130px;
        margin-top: 30px;
    }
    .rasm{
        width: 200px;
        height: 200px

    }
}
