* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* 
< !-- alisaad strat -->
< !-- alisaad end -->


< !-- shoxruxbek star -->
< !-- shoxruxbek end -->


< !-- Muslimbek start -->
< !-- muslimbek end -->


< !-- otabek start -->
< !-- otabek end -->


< !-- azizbek start -->
< !-- azizbek end --> */
@media  {
    /* 
< !-- alisaad strat -->
< !-- alisaad end -->


< !-- shoxruxbek star -->
< !-- shoxruxbek end -->


< !-- Muslimbek start -->
< !-- muslimbek end -->


< !-- otabek start -->
< !-- otabek end -->


< !-- azizbek start -->
< !-- azizbek end --> */

    
}